@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: "gotham-book";
	src: url("fonts/GothamBook.ttf")
}

@font-face {
	font-family: "gotham-bold";
	src: url("fonts/GothamBold.ttf")
}

@font-face {
	font-family: "oferta-do-dia";
	src: url("fonts/Oferta-do-Dia.ttf")
}

*{
	margin: 0px;
	padding: 0px;
}

body {
	max-width: 1920px;
	overflow-x: hidden;
}

/* Header */

#cabecera {
	display: flex;
	position: absolute;
	width: 95%;
	max-width: 1920px;
	padding: 30px 46px;
	justify-content: center;
	align-items: center;
	font-family: "gotham-book";
	background-color: transparent;
	top: 0;
	z-index: 1000;
	
	
}

.ul-de-botonera {
	list-style: none;
	display: flex;
	width: 100%;
	justify-content: space-between;
	text-decoration: none;
	background-color: transparent;
	
}

.botonera {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	background-color: transparent;
}

.conoce_mas_de_mi, .trabajemos_juntos {
	color: #991312;
	padding: 10px 33px;
	border-radius: 16px;
	background: #FFF;
	text-decoration: none;
}

.conoce_mas_de_mi:hover {
	color: #FFFFFF;
	padding: 10px 33px;
	border-radius: 16px;
	background: #991312;
	transition:0.5s ease;
}

.trabajemos_juntos:hover {
	color: #FFFFFF;
	padding: 10px 33px;
	border-radius: 16px;
	background: #991312;
	transition:0.5s ease;
}

/* Fin de Header */

/* inicio main - portada */

main {
	max-width: 1920px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.portada {
	max-width: 1920px;
}

.foto_portada {
	background-image: url(".img/img_portadab.jpg");
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
